<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='valid.js') }}"> </script>
</head>

<body>
    <form class="T">
        <h1>VIT BUS MANAGEMENT SYSTEM</h1>
    </form>
    <form class="box" action="{{ url_for('login') }}" method="POST" onSubmit="return validate( );">
        <h1>
            login
        </h1>

        <input type="text" name="username" placeholder="Enter Username" id="username">
        <input type="password" name="password" placeholder="Enter Password" id="password">
        <input type="submit" name="Login" value="Login" id="Login">

    </form>
</body>

</html>